/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-style: normal;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
input {
    outline: none;
}
input:focus::-webkit-input-placeholder { 
    color:transparent; 
}
input:focus:-moz-placeholder { 
    color:transparent; 
}
input:focus::-moz-placeholder { 
    color:transparent; 
}
input:focus:-ms-input-placeholder { 
    color:transparent; 
}

/* FONTS */
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v29-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v29-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/open-sans-v29-cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v29-cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/open-sans-v29-cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v29-cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* SLICK SLIDER STYLES */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/* COMMON STYLES */
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans';
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
}
.container {
    max-width: 1318px;
    margin: 0 auto;
}
.button {
    width: 313px;
    height: 70px;
    padding: 18px 5px;
    color: #131313;
    font-size: 24px;
    background: linear-gradient(180deg, #EACE88 0%, #CA9306 100%);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .3s linear;
}
.button_header {
    width: 205px;
    height: 57px;
    font-size: 15px;
}
.button_methods {
    height: 79px;
}
.button_question {
    font-size: 20px;
    text-transform: none;
}
.button:hover {
    transform: scale(0.95);
}
.main-title {
    font-family: 'Bebas Neue';
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
    color: #FFC403;
}
.main-title_form {
    margin-bottom: 45px;
}
.main-title_company {
    font-size: 48px;
    line-height: 48px;
}

/* HEADER STYLES */
.wrapper {
    position: relative;
    padding: 36px 0 95px 0;
    background-image: url(../images/bg-hero.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
}
.header__logo {
    width: 386px;
    margin-right: 26px;
    object-fit: contain;   
}
.header__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
}
.header__span {
    display: block;
    color: #ffffff;
}
.header__span_bold {
    font-weight: 700;
}
.header__block {
    display: flex;
    align-items: flex-end;
}
.header__icon {
    margin-right: 10px;
    padding-bottom: 2px;
}
/* Menu header styles */
.nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-list__item {
    padding: 0 20px 33px 20px;
    border-bottom: 3px solid transparent;
    transition: all .3s linear;
}
.menu-list__item:hover, .menu-list__item:active {
    border-bottom: 3px solid #F4A82D;
}
.menu-list__link {
    color: #ffffff;
    font-size: 16px;    
}
/* HERO STYLES */
.hero {
    padding-top: 90px;
}
.hero__inner {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.hero__block {
    margin-right: 138px;
}
.hero-title {
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 10px;
}
.hero-title__span {
    color: #FFC403;
}
.hero__subtitle {
    font-size: 36px;
    margin-bottom: 20px;
}
.hero__text {
    font-size: 24px;
    margin-bottom: 20px;
}
.text-span {
    display: block;
}
.hero-list__item {
    padding-left: 37px;
    margin-bottom: 15px;
    background-image: url(../images/icons/check.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 16px 16px;
}
/* Form styles */
.form {
    width: 531px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px 20px 60px 20px;
    background-color: #000000;
    border: 7px solid #F4A82D;
}
.form__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.form__field {
    display: block;
    width: 313px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    padding: 23px 30px;
    color: #000000;
    font-size: 16px;
}
.form__field {
    margin-bottom: 23px;
}
.form__field:last-child {
    margin-bottom: 33px;
}
.form__field::placeholder {
    color: #000000;
    font-size: 16px;
}
.privacy {
    margin-top: 36px;
    display: flex;
    align-items: center;
    font-size: 12px;
    text-align: left;
    color: #FFF5F5;
}
.privacy__link {
    color: #EACE88;
    text-decoration: underline;
}
.privacy__checkbox {
    margin-right: 20px;
}
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;    
}
.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.checkbox+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #D9D9D9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.checkbox:checked+label::before {
  background-color: #F4A82D;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* SOCIALS STYLES */
.socials {
    position: absolute;
    right: -67px;
    top: 20px;
}
.socials__item {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 23px;
}
.socials__icon {
    fill: #ffffff;
    transition: all .3s linear;
}
.socials__icon:hover {
    fill: #F4A82D;
}

/* ABOUT SECTION STYLES */
.about {
    padding: 67px 0 112px 0;
}
.about__inner {
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
}
.image-wrapper {
    box-shadow: inset 0px 0px 30px 30px rgba(0,0,0,0.9);
}
.about__image {
    display: block;
    position: relative;
    width: 538px;
    height: 381px;
    object-fit: cover;
    z-index: -2;
}
.about__info {
    padding: 10px 20px 43px 40px;
    margin-left: 28px;
    width: calc(100% - 566px);
    border-top: 3px solid #F4A82D;
    border-bottom: 3px solid #F4A82D;
}
.about__text {
    line-height: 40px;
    margin-bottom: 40px;
}
.about__text:last-child {
    margin-bottom: 0;
}
.about__subtitle {
    margin: 64px 0;
    font-size: 32px;
}
.about__span {
    display: block;
}
/* Tabs styles */
.about__tabs {
    position: relative;
}
.about__tabs::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 56px;
    left: 0;
}
.tabs {
    font-size: 0;
}
.tabs__inner {
    display: flex;
}
.tabs__info {
    width: calc(100% - 632px);
    margin-right: 23px;
}
.tabs__image {
    display: block;
    position: relative;
    width: 609px;
    height: 528px;
    object-fit: cover;
    z-index: -2;
}
.tabs-list {
    margin-bottom: 30px;
}
.tabs__text {
    font-size: 24px;
    max-width: 550px;
}
.tabs__input {
    display: none;
}
.tabs__content {
    display: none;
    padding-top: 63px;
    font-size: 18px;
    line-height: 40px;
}
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2 {
    display: block;
}
.tabs__label {
    display: inline-block;
    text-align: center;
    user-select: none;
    padding: 0 20px 33px 20px;
    border-bottom: 3px solid transparent;
    margin-right: 120px;
    font-size: 16px;
    transition: all .3s linear;
    cursor: pointer;
    position: relative;
}
.tabs__label:not(:first-of-type) {
    border-left: none;
}
.tabs__input:checked+.tabs__label {
    border-bottom: 3px solid #F4A82D;
}

/* METHODS SECTION STYLES */
.methods {
    padding: 57px 0 73px 0;
    background-image: url(../images/bg-method.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.methods__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    margin: 80px 0 60px 0;
}
.method {
    width: calc(100% / 4);
    padding: 38px 37px 35px 37px;
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 5px;
}
.method__image {
    margin-bottom: 24px;
}
.method__text {
    line-height: 30px;
}
.methods__subtitle {
    line-height: 30px;
    margin-bottom: 32px;
}
.methods__title {
    font-size: 44px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFC403;
    font-family: 'Bebas Neue';
    font-weight: 700;
    margin-bottom: 60px;
}
.methods__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.methods__text {
    font-size: 32px;
}

/* SPECIALISTS SECTION STYLES */
.specialists {
    padding: 90px 0 100px 0;
}
.specialists__subtitle {
    margin: 80px 0;
}
.specialist {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.specialist:last-child {
    margin-bottom: 0;
}
.specialist__image {
    position: relative;
    width: 340px;
    margin-right: 80px;
    padding-top: 30px;
}
.specialist__image::before {
    content: '';
    display: block;
    width: 279px;
    height: 283px;
    background-color: #000000;
    border: 7px solid #F4A82D;
    position: absolute;
    top: -30px;
    left: 0;
    z-index: -1;
}
.specialist__ava {
    display: block;
    margin-left: auto;
    width: 279px;
    height: 283px;
    object-fit: cover;
    border: 7px solid #F4A82D;
}
.specialist__info {
    width: calc(100% - 420px);
}
.specialist__title {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 32px;
    max-width: 650px;
}
.specialist-list {
    line-height: 30px;
}

/* SERTIFICATES SECTION STYLES */
.sertificates {
    padding-bottom: 85px;
}
.sertificates__inner {
    margin-top: 64px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.sertificate__image {
    width: 306px;
    height: 433px;
    object-fit: cover;
    display: block;
}

/* QUESTION SECTION STYLES */
.question {
    padding: 7px 0 25px 0;
    background-image: url(../images/bg-question.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.question__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.question__image {
    display: block;
}

/* PROFIT SECTION STYLES */
.profit {
    padding: 90px 0 60px 0;
}
.profit__inner {
    display: flex;
    justify-content: space-between;
}
.form_profit {
    padding: 38px 45px 60px 45px;
}
.profit__form {
    margin-right: 67px;
}
.profit__subtitle {
    margin: 30px 0;
    font-family: 'Bebas Neue';
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}
.profit__subtitle_second {
    margin: 30px 0 23px 0;
}
.profit__text {
    line-height: 30px;
}
.timer {
    display: flex;
    align-items: flex-start;
}
.timer__text {
    margin-right: 70px;
}
.timer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}
.timer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timer__time {
    width: 87px;
    height: 85px;
    background-color: rgba(217, 217, 217, 0.1);
    font-size: 80px;
    line-height: 80px;
    font-weight: 700;
    font-family: 'Bebas Neue';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/* SERVICE SECTION STYLES */
.service {
    padding-bottom: 100px;
}
.service__inner {
    margin: 100px 0 70px 0;
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
}
.service__block {
    width: calc(100% / 3);
    padding: 25px 0 25px 30px;
    border-left: 1px solid #FFC403;
}
.service__head {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'Bebas Neue';
}
.service__head_text {
    max-width: 900px;
}
.service__text {
    margin-top: 20px;
    line-height: 30px;
}
.service__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* PRICE SECTION STYLES */
.price {
    padding-bottom: 100px;
}
.price__inner {
    margin: 80px 0 30px 0;    
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.price-block {
    position: relative;
    padding: 30px 15px 24px 35px;
    width: calc(100% / 3);
    min-height: 325px;
    background-color: rgb(217, 217, 217, 0.1);
    border-radius: 20px;
}
.price-block__title {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'Bebas Neue';
    margin-bottom: 20px;
}
.price-block__text {
    line-height: 30px;
}
.cost {
    position: absolute;
    right: 15px;
    bottom: 24px;
    color: #FFC403;    
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'Bebas Neue';
}
.cost::before {
    content: '';
    display: block;
    width: 59px;
    height: 7px;
    background-color: #D9D9D9;
    position: absolute;
    left: -80px;
    top: 17px;
}
.price-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    line-height: 30px;
}
.price__text_mrg {
    margin-bottom: 30px;
}
.span-price {
    font-weight: 700;
}
.span-price_upper {
    text-transform: uppercase;
}
.form_price {
    width: 100%;
    padding: 62px 10px 44px 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.form__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__field_price {
    margin-right: 35px;
    margin-bottom: 0;
}
.form__field_price:last-child {
    margin-bottom: 0;
}
.privacy_price {
    width: 80%;
    margin: 33px auto 0;
}
.privacy__text_price {
    max-width: 415px;
}

/* COMPANY SECTION STYLES */
.company {
    padding-bottom: 80px;
}
.company__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin: 64px 0 40px 0;
}
.company__block {
    width: 50%;
}
.company__text {
    line-height: 30px;
}
.company__form {
    margin-top: 40px;
}
.title-span {
    display: block;
}
.form__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* REVIEWS SECTION STYLES */
.reviews {
    padding-bottom: 97px;
}
.reviews__subtitle {
    margin: 38px 0 73px 0;
}
.reviews__span {
    display: block;
}
.slider {
    margin: 0 -15px;
}
.slider__arrow {
    position: absolute;
    width: 53px;
    height: 53px;
    top: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    transition: all .3s linear;
    z-index: 2;
}
.slider__arrow:hover {
    opacity: 0.6;
}
.slider__arrow_prev {
    background-image: url(../images/icons/arr-left.svg);
    left: -60px;
}
.slider__arrow_next {
    background-image: url(../images/icons/arr-right.svg);
    right: -60px;
}
.slider__review {
    min-height: 684px;
    padding: 67px 23px 52px 43px;
    border-radius: 20px;
    margin: 0 15px;
    background-color: rgb(217, 217, 217, 0.1);
}
.slider__title {
    font-size: 32px;
    line-height: 32px;
    font-family: 'Bebas Neue';
    color: #FFC403;
    margin-bottom: 25px;
}
.slider__text {
    line-height: 30px;
}
.slider__span {
    font-weight: 700;
}

/* WORK SECTION STYLES */
.work {
    padding-bottom: 90px;
}
.work__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 68px 14px 50px 37px;
    background-image: url(../images/bg-work.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
}
.work-list {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 50px;
}
.work-list__item {
    width: calc(100% / 6);
}
.work-list__number {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #FFC403;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 36px;
    font-weight: 700;
}
.work-list__text {
    line-height: 27px;
}

/* FOOTER STYLES */
.footer {
    padding-bottom: 50px;
}
.footer__inner {
    display: flex;
    font-size: 16px;
}
.footer__block_first {
    margin-right: 60px;
}
.footer__logo {
    width: 386px;
    height: 68px;
    object-fit: contain;
    bottom: 45px;
}
.footer__info {
    font-size: 14px;
    margin-bottom: 100px;
}
.footer__span {
    display: block;
}
.footer__text {
    font-size: 14px;
}
.footer__block_second {
    width: 195px;
    font-size: 16px;
    margin-right: 10px;
}
.footer__head {
    margin-bottom: 25px;
}
.footer-list {
    line-height: 28px;
    margin-bottom: 50px;
}
.footer-list_first {
    margin-bottom: 90px;
}
.footer__rekv {
    font-size: 14px;
    text-transform: uppercase;
}
.footer__map {
    color: #ffffff;
    text-decoration: underline;
}
.footer-form {
    max-width: 400px;
    margin-left: auto;
}
.footer-form__head {
    margin-bottom: 25px;
    font-weight: 700;
}
.subscribe {
    margin-bottom: 42px;
}
.subscribe__inner {
    display: flex;
    align-items: center;
}
.subscribe__field {
    width: 263px;
    height: 53px;
    background-color: #D9D9D9;
    padding: 15px 30px;
    color: #494949;
    border: none;
}
.subscribe__field::placeholder {
    color: #494949;
    font-size: 16px;
}
.subscribe__button {
    width: 157px;
    height: 53px;
    padding: 15px 5px;
    background: #FFC403;
    border-radius: 0px 10px 10px 0px;
    color: #494949;
    font-weight: 700;
}
.footer-form__text {
    margin-bottom: 42px;
}
.footer-privacy {
    font-size: 14px;
}
.footer-privacy__link {
    display: block;
    color: #ffffff;
    text-decoration: underline;
}

/* MEDIA QUERIES */
@media (max-width: 1500px) {
    .slider__arrow_prev {
        left: -40px;
    }
    .slider__arrow_next {
        right: -40px;
    }
    .slider__arrow {
        width: 43px;
        height: 43px;
    }
    .socials {
        right: -45px;
    }
}
@media (max-width: 1430px) {
    .slider {
        width: 90%;
        margin: 0 auto;
    }
    .hero__block {
        margin-right: 115px;
    }
    .hero__form {
        margin-right: 35px;
    }
    .socials {
        right: -7px;
    }
}
@media (max-width: 1365px) {
    .hero__block {
        margin-right: 100px;
    }
    .hero__form {
        margin-right: 55px;
    }
    .socials {
        right: 5px;
    }
}
@media (max-width: 1318px) {
    .container {
        padding: 0 15px;
    }
}